<h1>All Ze Ideas</h1>
<% @ideas.each do |idea| %>
  <ul>
  <%=idea.title  %>
  <li><%=idea.body  %></li>
  <li><%=idea.quality  %></li>
  </ul>
  <% end %>
</ul>

<h2>Create a new idea:</h2>

<form>
  Idea title:
  <input id="idea-title" type="text" name:"Title:"><br>
  Idea body: <input id="idea-body" type="text" name:"Body:"><br>
  Idea quality: <input type="text" name:"Quality:"><br>
</form>
