.landing-page {
  background: url("https://images.unsplash.com/photo-1443140570159-279cf334cf24?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8aaf7f1447874a5ad9749677be76be06") no-repeat center;
  height: 800px;
  color: white;
  min-height: 100vh;

}

#ideas-page-title {
  padding-left: 20px;
  padding-top: 20px;
}

.new-idea{
  background-color: #8B0A50;
  width: 30%;
  font-size: 120%;
  padding-left: 5px;
  border-radius: 7px;
}

#new-ideas-header {
  width: 100%;
  padding-left: 30px;
}

.new-idea-form{
  padding-left: 30px;
  background-color: #7093DB;
  width: 30%;
  padding: 10px;
  border-radius: 4px;
}

#submit-button {
  background-color: #87CEFF;
  border-radius: 4px;
}
