.landing-page {
  background: url("https://s3-us-west-2.amazonaws.com/turingconnect/dark_embroidery.png");
  color: #696969;
  min-height: 100vh;
}

#ideas-page-title {
  padding-left: 20px;
  padding-top: 20px;
}

.any-idea{
  background-color: #8B0A50;
  width: 30%;
  font-size: 120%;
  padding-left: 5px;
  border-radius: 7px;
}

#new-ideas-header {
  width: 100%;
  padding-left: 30px;
  color: black;
}

.new-idea-form{
  padding-left: 30px;
  background-color: #7093DB;
  width: 30%;
  padding: 10px;
  border-radius: 7px;
  color: black;
}

#submit-button {
  background-color: #696969;
  border-radius: 7px;
}

.landing-text {
  padding-left: 30px;
}
